# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions

# Libraries added for the Smart Expense Tracker project
azure-storage-blob
azure-cosmos
azure-ai-formrecognizer